.ad{
float: right;
width:30%;
padding-top:15px;
top: 0px;
padding-right: 0px;
position: -webkit-sticky; /* Safari */
  position: sticky;
}
video{
autoplay: true;
}
.whiteboxed li a:hover{background-color:silver}
.dropbtn a:hover {background-color:silver}
.dropbtn {
font-size:30px;
font-family:century_gothicregular;
border: none;
margin: 0px;
padding: 0px;
color: #808080;
}

.dropdown {
font-size: 30px;
font-family:century_gothicregular;
 
}
.dropdown-content {
  display: none;
}
.dropdown-content a {

  padding: 4px 6px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #c0c0c0;}

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: white;}
.foreword{
padding-right: 400px;
padding-left: 60px;
padding-top: 0px;
}
li{
display: inline;
list-style-type: none;
margin: 0;
padding: 10px;
border-left:1px solid black;
float:left;
font-size:30px;
font-family:century_gothicregular;
}
li a{
color:#808080;
}
.logo{
border-left:0px;
padding-right: 20px;
}
.article{
font-family: alegreya_sansbold;
padding-left: 30px;
padding-right:200px;
}
h1 {
font-size:50px;
font-family:arial;
padding-right: 500px
}
p {
font-family: arial;
font-size:20px;
}
h2 {
font-family:century_gothicregular;
font-size:30px;
}
.boxed {

width: 600px;
  height: 70px;
color: blue;
padding: 2px;
padding-bottom: 0px;
padding-top: 0px;
font-family:alex_brushregular;
 
}
h3 {
font-family:arial;
}
hr {
height:1px;
background-color:black;
width: 62%;
float: left;
}

.Subtitles {
font-family:century gothic;
text-align: center;
}
.Firsthtml {
font-family:century gothic;
}
.whiteboxed {
font-size: 31px;
font-family: arial;	
padding:5px;
overflow: auto;
border-bottom: 1px solid black;
background-color: white;
}
.whiteboxedfloat{
float:right;
}
a:link {
text-decoration:none;
}

ul {
font-size:18px;
font-family:arial;
}
.finetext {
font-size:15px;
font-color: #c0c0c0;
font-family: century_gothicregular;
}
.padding {
padding: 30;
}
@font-face {
    font-family: 'old_standardbold';
    src: url('oldstandard-bold-webfont.woff2') format('woff2'),
         url('oldstandard-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'century_gothicregular';
    src: url('gothic-webfont.woff2') format('woff2'),
         url('gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-webfont.woff2') format('woff2'),
         url('alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bankgothicregular';
    src: url('bankgothic_regular-webfont.woff2') format('woff2'),
         url('bankgothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_sansbold';
    src: url('alegreyasans-bold-webfont.woff2') format('woff2'),
         url('alegreyasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansitalic';
    src: url('alegreyasans-italic-webfont.woff2') format('woff2'),
         url('alegreyasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sanslight';
    src: url('alegreyasans-light-webfont.woff2') format('woff2'),
         url('alegreyasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansregular';
    src: url('alegreyasans-regular-webfont.woff2') format('woff2'),
         url('alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}